.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  height: 50vh;
  background: cyan;
  border: none;
  box-shadow: 2px 5px 4px 4px black;
  border-radius: 15px;
}
.btn {
  background-color: rgb(10, 87, 10);
  color: white;
}
.feild {
  position: fixed;
  margin-right: 20rem;
}
